@charset "utf-8";

/* 웹폰트 초기값, *, li, a, body.... */
/* 공통스타일 .title, header, bottom_menu, .inner.... */

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }
   
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   
   li {
       list-style: none;
   }
   
   a {
       text-decoration: none;
       color: inherit;
   }
   
   body {
       color: #333;
       line-height: 1;
       font-family: 'NanumBarunGothic';
       margin-bottom: 60px;
   }
   
   
   .inner {
       /* width: calc(100% - 40px); */
       width: 1280px;
       margin: 0 auto;
   }
   
   .title {
       margin-bottom: 13px;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .title h3 {
    font-size: 20px;
   }
   
   /* header */
   
   header {
       position: absolute;
       top: 50px;
       left: 0;
       width: 100%;
       z-index: 1;
   }
   
   header h1 {
       font-size: 30px;
   }
   
   header nav ul {
       display: flex;
       margin-top: 15px;
   }
   
   header nav ul li {
       margin-right: 15px;
   }

   /* .bottom_menu */

.bottom_menu {
    width: 100%;
    height: 55px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
}

.bottom_menu ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.bottom_menu ul li a {
    display: flex;
}



/* 뷰포트 1280px 이하일 때 스타일 적용 */

@media screen and (max-width:1280px) {
    .inner {width: calc(100% - 40px);}
}

/* 뷰포트 430px 이하일 때
.cont01 .list item중에서 마지막에 있는
item은 삭제 width값은 3등분하고 간격 10px식 잡히도록 설정 */

@media screen and (max-width:430px) {
    
    .cont01 .list .item:nth-of-type(4) {
        display: none;
    }
    
    
    .cont01 .list .item {
        width: calc(100% / 3 - 10px);
    }

    
    
}




